extend layout

block content
  p
    | This is a test site, updated Monday at 6 PM
    | Test change
    | I do not know what to put here
    | So let us just put whatever here

block sidebar
  .widget
    h1 Widget
    p
      | This is a sidebar
      | Equally as useless

    p
      | Just like this website
      | Only an example.
