extend layout

block content
  p
    | Updated on Monday at 10:25 PM
  p
    | I do not know what to put here
  p
    | So let us just put whatever here

block sidebar
  .widget
    h1 Widget
    p
      | This is a sidebar,
      | Equally as useless

    p
      | Just like this website,
      | Only an example.
